@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,900&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-on-secondary-fixed-variant: #92001b;
  --color-on-tertiary-container: #002e39;
  --color-inverse-primary: #bb171c;
  --color-surface-dim: #1e0f0e;
  --color-surface-container: #2c1b1a;
  --color-primary: #ffb4ac;
  --color-surface-container-highest: #43302e;
  --color-on-background: #fadcd8;
  --color-primary-fixed: #ffdad6;
  --color-secondary-fixed: #ffdad8;
  --color-on-primary-fixed: #410002;
  --color-tertiary: #72d4ef;
  --color-on-error-container: #ffdad6;
  --color-on-primary-fixed-variant: #93000d;
  --color-on-primary: #690006;
  --color-on-surface: #fadcd8;
  --color-on-secondary: #680010;
  --color-surface-container-lowest: #180a09;
  --color-tertiary-fixed-dim: #72d4ef;
  --color-primary-container: #ff544c;
  --color-surface-tint: #ffb4ac;
  --color-on-secondary-container: #ff9e9c;
  --color-on-tertiary-fixed: #001f27;
  --color-secondary-fixed-dim: #ffb3b0;
  --color-primary-fixed-dim: #ffb4ac;
  --color-inverse-surface: #fadcd8;
  --color-on-tertiary-fixed-variant: #004e5d;
  --color-on-tertiary: #003641;
  --color-on-secondary-fixed: #410007;
  --color-surface-container-low: #271716;
  --color-tertiary-fixed: #afecff;
  --color-surface: #1e0f0e;
  --color-outline-variant: #5b403d;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-tertiary-container: #319db6;
  --color-surface-bright: #483432;
  --color-inverse-on-surface: #3e2c2a;
  --color-surface-container-high: #372624;
  --color-surface-variant: #43302e;
  --color-background: #1e0f0e;
  --color-secondary: #ffb3b0;
  --color-on-primary-container: #5c0005;
  --color-outline: #ab8985;
  --color-secondary-container: #96041d;
  --color-error-container: #93000a;
  --color-on-surface-variant: #e4beb9;
  --color-nexus-red: #E53935;
}

@layer utilities {
  .glass-card {
    background: rgba(44, 27, 26, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(171, 137, 133, 0.2);
  }
  
  .red-glow {
    box-shadow: 0 0 25px rgba(229, 57, 53, 0.4);
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

